.btn{
    background-color: #00c0ff;
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    padding: 10px;
    color: white;
}

.navbar-light .navbar-brand {
    color: white;;
}

nav{
    padding: 20px;
}

ul{
    padding-left: 500px;
}