<div>
  <div class="titulo">
  <h1>GANHOS PARA A EMPRESA QUE PARTICIPA DO PAT</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div class="col-md-2"><img src="../../assets/pigbank.jpg" width="50px;"></div>
                <div class="col-md-10"><h5><strong>REDUÇÃO DE CUSTOS</strong></h5><p>Com a solução Sodexo Refeição Pass, o vale refeição da Sodexo, sua empresa tem a
                        isenção de encargos sociais decorrentes do fornecimento do benefício</p></div>
            </div>
            
        </div>
        <div class="col-md">
                <div class="row">
                    <div class="col-md-2"><img src="../../assets/lion.jpg" width="50px;"></div>
                            <div class="col-md-10">
                                <h5><strong>INCENTIVOS FISCAIS</strong></h5>
                                <p>Para as empresas sujeitas a tributação pelo Lucro Real, é admitido o abatimento de
                                        Incentivos Fiscais em até 4% do Imposto de Renda Devido.</p>
                            </div>
                   
                    
                </div>
                
            </div>
        <div class="col-md">
                <div class="col-md">
                        <div class="row">
                            <div class="col-md-2"><img src="../../assets/client.jpg"  width="50px;"></div>
                            <div class="col-md-10"><h5><strong>A PARTIR DE 1 FUNCIONÁRIO</strong></h5><p>Empresas ou pessoas físicas com configuração de jurídicas, a partir de 1 funcionário, já
                                    podem participar do PAT e obter as vantagens financeiras geradas através do
                                    programa.</p></div>
                        </div>
                        
        </div>
    </div>
</div>


