.titulo {
    text-align: center;
}

.col-md{
}

h5{
    padding-top: 15px;
    padding-left: 20px;
}

.row{
    margin-top: 45px;
    margin-bottom: 20px;
}

p{
    padding-left: 20px;
}