<div class="container">
    <div class="row">
      <div class="col-md">
        <h1><strong>Cartão Convênio ECX Card</strong></h1>
        <h3>OTIMIZA A GESTÃO DE RH, BENEFICIA E MOTIVA OS
          COLABORADORES</h3>
        <p>O Cartão Convênio ECX Card é uma ferramenta motivacional que visa a
          implementação ou complementação do adiantamento salarial (via meio
          eletrônico), e pode ser utilizado em uma abrangente rede de
          estabelecimentos comerciais credenciados pela ECX CARD.</p><p> Utilizável para a
          compra de bens e serviços e, mensalmente, o valor das compras realizadas é
          debitado diretamente na folha de pagamento do colaborador.
          </p>
        <button class="btn my-2 my-sm-0" type="submit">Botão</button>
      </div>

      <div class="col-md">
          <img src="../../assets/cel.png" alt="">
        </div>
    </div>
  </div>