
<div> <h1>A maneira mais fácil de pagar</h1>
<h3>Basta carregar um cartão pré-pago Mastercard e pagar tudo que você precisa -
    compras on-line, pagamentos de contas ou compras diárias. Aceito onde quer que o
    seu Mastercard é aceito, cartões pré-pagos fornecem uma maneira mais conveniente e
    mais segura de pagar do que dinheiro.</h3>
    <h2>Mais seguro do que dinheiro</h2>
    <h3>Ao contrário do dinheiro, se você registrar seu cartão pré-pago e ele é perdido ou
        roubado, seu dinheiro pode ser recuperado.*</h3>
        <h2>Conveniente e fácil</h2>
        <h3>Obter um cartão pré-pago é fácil, não há verificação de crédito e nenhuma conta
            bancária necessária. Você também pode usar seu cartão para fazer compras online.</h3>
  </div>

  <div>
      <div class="titulo">
      <h1>Administrar dinheiro pode ser simples assim.</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <img src="../../res/pigbank.jpg">
                <h3>CONTROLE ABSOLUTO</h3>
                <p>Tenha um sistema de gestão completo em suas mãos. Você tem acesso, em tempo
                    real, a todas as suas movimentações financeiras, via web, SMS ou aplicativo mobile.
                    Muito mais controle, a qualquer momento e em qualquer lugar, para você administrar
                    suas finanças</p>
            </div>
            <div class="col-xs-6">
                <img src="../../res/lion.jpg">
                <h3>BUROCRACIA ZERO</h3>
                <p>Diga adeus a taxas abusivas e enormes dores de cabeça. Para ter seu cartão Brasil Pré-
                    Pagos, não é necessário ter conta em banco, comprovar renda, residência ou estar
                    com o nome limpo. Basta ter o CPF.</p>
            </div>
            <div class="col-xs-6">
                <img src="../../res/client.jpg">
                <h3>TOTALMENTE SEGURO</h3>
                <p>Conte com a proteção por senha e evite fraudes online. Tenha a certeza de poder
                    transportar dinheiro para qualquer lugar e ao mesmo tempo controlar seus gastos. E
                    em caso de perda ou roubo, é só cancelar o cartão através da Central de Atendimento.</p>
            </div>
            <div class="col-xs-6">
                <img src="../../res/client.jpg">
                <h3>UM BANCO NO SEU BOLSO</h3>
                <p>Faça compras na rede VISA, saques em caixas eletrônicos, além de transferências
                    (inclusive entre cartões) e pagamentos de conta via web e aplicativo mobile</p>
            </div>
        </div>
    </div>
    
    
    