.teste {
    text-align:center;
}

.button {
    font-size: 1.2rem;
    font-family: Master of Break;
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: green;
}

.menu {
    margin-top: 2rem;
    text-align: center
}

/* remove blue line after clicking on button */
button:focus {outline:0;}