<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<body class="corpo">
    <app-primeira-layer></app-primeira-layer>
    <app-descricaoinicial></app-descricaoinicial>
    <app-segunda-layer></app-segunda-layer>
    <app-terceira-layer></app-terceira-layer>
    <app-facildepagar></app-facildepagar>
    <app-processadora></app-processadora>

    
<!-- <div class="menu" >
    <button class="button"routerLink="/inicial" routerLinkActive="active">Home</button>
    <button class="button" routerLink="/home" routerLinkActive="active">Bucket List</button>
    <button class="button" routerLink="/about" routerLinkActive="active">About</button>
</div> -->
<!-- <router-outlet class="all"></router-outlet> -->

</body>