<div>
    <div class="titulo">
      <div class="container">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
              <h5>A Live Payment veste a camisa do seu projeto e vai à campo junto do seu time! Invista nas
                  melhores soluções para varejo. Com os cartões Private Label e Bandeirado, seus clientes têm
                  diversas vantagens e benefícios, e você pode viabilizar o controle e a gestão das atividades de
                  crédito do seu negócio.
                  Quer saber como funciona o jeito Live de ser?</h5>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    
<div class="container">
    <div class="row">
            <div id="accordion" class="col-md-4">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Cadastro
                          </button>
                        </h5>
                      </div>
                      <div id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Plataforma com diversas funcionalidades para os emissores, com cadastro integrado e
                            operação com os principais motores de crédito                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Embossing ou Emissão Instantânea
                          </button>
                        </h5>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Com o embossing ou emissão instantânea de cartões, você aumenta as oportunidades de
                            compra de seus clientes em seu estabelecimento.                        </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTree">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
                                Compliance
                            </button>
                          </h5>
                        </div>
                    
                        <div id="collapseTree" class="collapse " aria-labelledby="headingTree" data-parent="#accordion">
                          <div class="card-body">
                              Nosso diferencial é o processamento e a entrega de informações contábeis, fiscais e financeiras com aderência à legislação brasileira e fidelidade na captação dos números.                       </div>
                        </div>
                      </div>

                      <div class="card">
                          <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                  Gift Card / Presente
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                Cartão emitido sem vínculo ao portador para utilização no varejo e inserção de carga nos caixas ou parceiros de negócio. O portador poderá utilizar seus créditos na rede varejista ou redes credenciadas.                                    </div>
                        </div>
                </div>
                      <div class="card">
                          <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                  Recuperação de Crédito
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseFive" class="collapse " aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                Com diversas ferramentas para gestão de carteira de cobrança, recupere e restabeleça o acesso do seu cliente ao crédito                       </div>
                          </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                              <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Atendimento
                                </button>
                              </h5>
                            </div>
                        
                            <div id="collapseSix" class="collapse " aria-labelledby="headingSix" data-parent="#accordion">
                              <div class="card-body">
                                  Uma ferramenta para sua Central de Atendimento totalmente preparada para lidar com diversos serviços.                       </div>
                            </div>
                          </div>
                  </div>
                  <div id="accordion" class="col-md-4">
                        <div class="card">
                          <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                  Prevenção à Fraude
                              </button>
                            </h5>
                          </div>
                      
                          <div id="collapseSeven" class="collapse " aria-labelledby="Seven" data-parent="#accordion">
                            <div class="card-body">
                                Soluções de consulta através de órgãos governamentais.</div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingEight">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                  Serviços Financeiros
                              </button>
                            </h5>
                          </div>
                          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                            <div class="card-body">
                                Administração e controle de todas as regras de captura nas transações do seu negócio
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingNine">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                  Captura de Transação
                              </button>
                            </h5>
                          </div>
                          <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                            <div class="card-body">
                                Gestão de serviços financeiros para aumento da receita do seu negócio.
                            </div>
                          </div>
                        </div>
                          <div class="card">
                              <div class="card-header" id="headingTen">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                      Site Portador
                                  </button>
                                </h5>
                              </div>
                          
                              <div id="collapseTen" class="collapse " aria-labelledby="headingTen" data-parent="#accordion">
                                <div class="card-body">
                                    Acessibilidade ao cliente na consulta de informações e adesão a serviços financeiros de forma rápida e prática                       </div>
                              </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingEleven">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                        Cartão Convênio
                                    </button>
                                  </h5>
                                </div>
                            
                                <div id="collapseEleven" class="collapse " aria-labelledby="headingEleven" data-parent="#accordion">
                                  <div class="card-body">
                                      Plataforma de processamento que suporta todas as variantes de Cartão Convênio Empresas e Consignado, para o mercado Público ou Privado, nas modalidades Bandeirado ou Rede Própria. Entre os principais diferenciais, destacam-se o site web para relacionamento com as conveniadas, funcionários e rede credenciada, a parametrização de compras por Estado, cidade e segmento e o apoio técnico de uma ampla equipe de inteligência de mercado, focada na orientação e rentabilização da base de clientes.o                        </div>
                                </div>
                              </div>

                          <div class="card">
                              <div class="card-header" id="headingTwelve">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                      Mobile
                                  </button>
                                </h5>
                              </div>
                          
                              <div id="collapseTwelve" class="collapse " aria-labelledby="headingTwelve" data-parent="#accordion">
                                <div class="card-body">
                                    Gerenciamento de transações, recebimento de campanhas e consulta de limites e saldos em qualquer lugar.                </div>
                              </div>
                            </div>
                      </div>
                      <div id="accordion" class="col-md-4">
                            <div class="card">
                              <div class="card-header" id="headingThirteen">
                                <h5 class="mb-0">
                                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                      SMS
                                  </button>
                                </h5>
                              </div>
                          
                              <div id="collapseThirteen" class="collapse " aria-labelledby="headingThirteen" data-parent="#accordion">
                                <div class="card-body">
                                    Com grande penetração no mercado, o SMS é uma ferramenta ágil e prática, com um tempo
                                    médio de resposta de 90 segundos e um índice de leitura de quase 90%, o que rentabiliza sua
                                    operação.                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingFourteen">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                      Fatura Multicanal
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordion">
                                <div class="card-body">
                                    Sustentável e ágil, a Fatura multicanal é um produto customizável, com controle total do
                                    processo através de um único painel online                                </div>
                              </div>
                            </div>
                            <div class="card">
                              <div class="card-header" id="headingFifteen">
                                <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                      Business Intelligence
                                  </button>
                                </h5>
                              </div>
                              <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordion">
                                <div class="card-body">
                                    Obtenha informações qualitativas que permitem tomadas de decisões mais assertivas para o
                                    seu negócio
                                </div>
                              </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingSixteen">
                                  <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                        Cartão Benefício
                                    </button>
                                  </h5>
                                </div>
                            
                                <div id="collapseSixteen" class="collapse " aria-labelledby="headingSixteen" data-parent="#accordion">
                                  <div class="card-body">
                                      Produto destinado à concessão de benefícios, como Cesta Básica, Alimentação, Refeição, Farmácia, Premiação, Cesta de Natal e Incentivos. Processamento de todos os tipos de cartões benefícios, nas modalidades bandeirado ou rede própria, com opção de filiação com Adquirentes ou integração com Vans.                                </div>
                              </div>
                              <div class="card">
                                  <div class="card-header" id="headingSeventeen">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                          Cartão Pré-Pago
                                      </button>
                                    </h5>
                                  </div>
                              
                                  <div id="collapseSeventeen" class="collapse " aria-labelledby="headingSeventeen" data-parent="#accordion">
                                    <div class="card-body">
                                        Cartão emitido ao portador para realização de carga e recarga online ou nos caixas das lojas e redes credenciadas. O usuário poderá utilizar uma determinada quantidade de créditos, estipulada pela administradora de cartões, banco, financeira, entidade, rede de varejo ou empresa para utilização nas redes credenciadas. Contamos com a melhor plataforma do mercado para processamento de programas comerciais baseados em cartões pré-pagos, com ou sem bandeira                                  </div>
                                </div>
    </div>
</div>
  
  
  
  