<div class="container">
  <div class="row">
    <div class="col-md">
      <img src="../../assets/cel.png" alt="">
    </div>
    <div class="col-md">
      <h1><strong>CARTÃO CONVÊNIO</strong></h1>
      <h3>Subtitulo</h3>
      <p>O Convênio Empresarial Drogal oferece condições especiais de pagamento na aquisição de
        medicamentos, produtos de higiene, perfumaria e acessórios.</p><p>
        Através do Convênio Empresarial Drogal, os colaboradores da sua empresa têm a facilidade em
        adquirir medicamentos, produtos de higiene, perfumaria e acessórios apenas apresentando o
        Cartão Convênio. Sua compra é controlada e acumulada mensalmente e posteriormente
        descontada em sua folha de pagamento.<p>
        O Convênio Empresarial Drogal é uma rede de vantagens à disposição de seus colaboradores</p>
      <button class="btn my-2 my-sm-0" type="submit">Botão</button>
    </div>
  </div>
</div>