<body><div class="container color-dark">
 
</div>

<div class="container color-light">
  <div class="col">
    <p class="sm">Use this form below to add a new bucket list goal. What do you want to do?</p>
    
    <form>
      <input type="text" name="item" placeholder="Life goal..." [(ngModel)]="goalText">
      <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
    </form>

  </div>
  <div class="col">
      <p>Your bucket list ({{ itemCount }})</p>
    </div>
  <div class="col">
    <p class="life-container" *ngFor="let goal of goals; let i = index"> {{ goal }} </p>
    
  </div>
</div>
</body>